<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Application</title>
</head>
<body>
    <form action="/submit" method="post">
        <label>Full name</label>
        <input  type="name" name="fname" id="f" required/>
        <label>Password</label>
        <input for="password" name="password" id="p" required/>
        <input type="submit" value="submit"/>
    </form>
</body>
</html>